<!-- {% load socialaccount %}
<html>
<body>
<h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html> -->


{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My OAuth Project</title>
</head>
<body>

    <h1>My OAuth Project</h1>

    {% if user.is_authenticated %}
        <p>Welcome, You are logged in as {{ user.username }}</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
        <a href="{% provider_login_url 'facebook' %}">Login with Facebook</a>
    {% endif %}

</body>
</html>
